/* header {
    border-top: 1px solid #ae7c78;
    border-bottom: 1px solid #ae7c78;
}

a {
    text-decoration: none;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 22px 120px;
    margin: 0;
}

.menu_link {
    font-family: Montserrat;
    color: #ae7c78;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}

.menu_logo {
    width: 100px;
    height: 32px;
}

.main {
    height: 636px;
}

h1 {
    color: #ae7c78;
    font-size: 44px;
    font-family: Playfair Display;
    font-weight: 400;
    margin-bottom: 24px;
    margin-top: 81px;
}
h2 {
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 36px;
    color: #ae7c78;
    text-align: center;
}
h3 {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
    margin: 0;
}

.main_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
}

.main_card {
    width: 390px;
    margin-right: 23px;
}

.main_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #ae7c78;
    margin-bottom: 64px;
}

.main_image_1 {
    width: 386px;
    height: 404px;
    margin: 140px 20px 23px 0px;
}

.main_image_2 {
    width: 387px;
    height: 400px;
    margin: 82px 0 20px 0;
}

.btn {
    width: 285px;
    height: 80px;
    background: #d89999;
    border-radius: 40px;
    border-style: none;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

.features {
    height: 108px;
    margin: 48px 120px 80px 120px;
}

.feat_wrapper {
    display: flex;
    justify-content: space-between;
}
.feat_block {
    display: flex;
}

.feat_block img {
    height: 52px;
}

.feat_descr {
    width: 290px;
    margin-left: 20px;
}

.feat_subtitle {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    color: #ae7c78;
}
.feat_text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    color: #ae7c78;
    margin-top: 8px;
}

.popular {
    height: 546px;
    margin: 80px 323px;
}
.pop_card {
    display: flex;
}
.pop_subtitle {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #ae7c78;
}
.pop_text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ae7c78;
}
.pop_measurments {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    color: #ae7c78;
}
.pop_price {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #ae7c78;
    margin-bottom: 64px;
}
.arrow_prev {
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    border: none;
    background: none;
}
.arrow_next {
    position: absolute;
    right: 45%;
    transform: translateX(-50%);
    border: none;
    background: none;
}

.catalog_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
}
.catalog_item {
    display: block;
    position: relative;
    width: 387px;
    height: 442px;
    border-radius: 10px;
    background-color: rgba(174, 124, 120, 0.4);
}
.catalog_item a {
    display: block;
    height: 100%;
}
.catalog_item a::before {
    content: "";
    opacity: 0.6;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(/img/sammi-sP5CaWEN7Do-unsplash\ 1.jpg);
    background-size: cover;
}
.catalog_descr {
    position: relative;
    top: 100px;
    text-align: center;
}
.catalog_descr p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.sale_wrapper {
    display: flex;
    height: 391px;
    margin: 80px 120px;
}
.sale_descr {
    display: flex;
    flex-direction: column;
    background: #ae7c78;

    width: 600px;
}
.sale_title {
    width: 387px;
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 44px;
    line-height: 59px;
    color: #ffffff;
    margin-top: 40px;
    margin-left: 120px;
}
.sale_text {
    width: 387px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    margin-top: 2px;
    margin-left: 120px;
}

.steps {
    margin: 80px 120px;
}
.steps_wrapper {
    display: flex;
    margin-top: 36px;
    justify-content: space-between;
}
.steps_card {
    width: 285px;
}
.steps_card img {
    height: 52px;
    display: block;
    margin: 0 auto;
}
.steps_title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    color: #ae7c78;
    text-align: center;
    margin-top: 8px;
}
.steps_text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ae7c78;
    margin-top: 8px;
}

.news {
    height: 468px;
    margin: 0 120px;
}
.news_wrapper {
    display: flex;
    justify-content: space-between;
}
.news_descr {
    width: 512px;
}
.news_descr h2 {
    text-align: left;
}
.news_text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #ae7c78;
    width: 387px;
}
.news_social {
    margin-top: 40px;
}
.news_social a {
    margin-right: 20px;
    text-decoration: none;
}
.news_imgs {
    width: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news_img {
    padding-top: 3px;
}

.feedback {
    height: 308px;
    margin: 80px 120px;
    border: 1px solid #ae7c78;
}
.feedback_wrapper {
    display: flex;
    justify-content: space-between;
}
.feedback_card {
    width: 300px;
    margin: 10px 40px;
}
.feedback_text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ae7c78;
    margin-bottom: 10px;
}
.feedback_sign {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #ae7c78;
}

.contacts {
    width: 1440px;
    height: 644px;
    background-image: url(/img/map.jpg);
}
.contacts_card {
    top: 52px;
    left: 222px;
    width: 386px;
    height: 520px;
    background: #f7fafc;
    box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
    border-radius: 12px;
    position: relative;
}
.contacts h2 {
    padding-top: 40px;
    margin-left: 35px;
    text-align: left;
}
.contacts_title {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    color: #ae7c78;
    margin-left: 35px;
}
.contacts_text {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    color: #ae7c78;
    margin: 13px 110px 30px 35px;
}

.footer_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 22px 120px;
    margin: 0;
    background-color: #ae7c78;
}
.footer_item {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}
.footer_item a {
    color: #ffffff;
}
.footer_social a {
    margin: 0 10px;
} */
:root {
    --light-text-color: #ffffff;
    --dark-text-color: #ae7c78;
    --button-default-color: #d89999;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

/* main-header */

.main-navigation {
    position: relative;
}

.main-header {
    border-top: 1px solid var(--dark-text-color);
    border-bottom: 1px solid var(--dark-text-color);
    margin-top: 26px;
    margin-bottom: 82px;
}

.main-header-logo {
    position: absolute;
    top: calc(50%-16px);
    left: 50%;
    margin-left: -50px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 0 12px;
    margin: 0;
    list-style: none;
}

.site-navigation-item {
    margin: 8px 0;
    width: 163px;
}

.site-navigation-item:nth-child(6n-4) {
    text-align: center;
}

.site-navigation-item:nth-child(3n),
.site-navigation-item:nth-child(6n-1) {
    text-align: right;
}

.site-navigation-item:nth-child(6n-3) {
    margin-right: 222px;
}

.site-navigation-link {
    padding: 5px 0;
    text-decoration: none;
    color: inherit;
    transition: 150ms;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
    padding: 5px 10px;
    border-radius: 7px;
    margin: -5px -10px;
    color: var(--light-text-color);
    background-color: var(--button-default-color);
}

.site-navigation-link:active {
    padding: 5px 10px;
    border-radius: 7px;
    margin: -5px -10px;
    color: var(--light-text-color);
    background-color: var(--dark-text-color);
}
